@media (min-width: 200px) and (max-width: 600px) {
    body {
        max-height: fit-content;
    }
    #HeaderAndMenu {
        position: relative;
    }
    .ContainerImgPorsche {
        width: 100%;
        background-image: url("./assets/images/porsche-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
    .ImgPorsche {
        display: none;
    }
    .NavBarHeader {
        display: none;
    }
    .HamburguerMenu {
        position: absolute;
        right: 0;
        width: 29.6vw;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        column-gap: 10vw;
    }
    .line1,
    .line2,
    .line3 {
        height: 1px;
        width: 4vw;
        background-color: white;
    }
    .HamburguerMenu:hover {
        cursor: pointer;
    }
    .BackGroundImageBanner {
        height: 170.67vw;
        background-size: cover;
        background-position: center;
    }
    .ContainerTituloBanner {
        margin: 10.13vw 0 0 3.74vw;
    }
    .TituloBanner {
        font-size: 10.67vw;
    }
    #SectionModelos {
        padding: 3.2vw 6.67vw 0 6.67vw;
    }
    .TituloModelos {
        font-size: 9.6vw;
        text-align: center;
    }
    .ContainerUmImagemTresCarros,
    .ContainerDoisImagemTresCarros {
        display: flex;
        flex-direction: column;
        row-gap: 8.53vw;
        align-items: center;
    }
    .Container718,
    .Container911,
    .ContainerTaycan,
    .ContainerPanamera,
    .ContainerMacan,
    .ContainerCayenne {
        width: 86.7vw;
        height: 70vw;
    }
    .IMGCarro {
        margin: 0;
    }
    .CarName {
        font-size: 7.47vw;
        top: 5vw;
        left: 5vw;
    }
    .ButtonConfigurarAndVerTudo {
        left: 5.87vw;
        bottom: 2.66vw;
        column-gap: 5vw;
        width: 85%;
        justify-content: space-evenly;
    }
    .ButtonConfigurar,
    .ButtonVerTudo {
        width: 35.47vw;
        height: 12.33vw;
        font-size: 3.5vw;
        font-weight: 400;
    }
    .ButtonConfigurar img  {
        width: 3vw;
    }
    #ContainerGaleria{
        margin: 18.9vw 6.67vw 10vw 6.67vw;
        height: 790vw;
    }
    .SectionImagensGaleria {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5.87vw;
    }
    .TituloGaleria {
        font-size: 9.6vw;
        text-align: center;
    }
    .SectionImagensGaleria div img {
        padding: 0;
    }
    #SectionFooter {
        height: fit-content;   
        padding: 0 6.67vw 0 6.67vw;
        background-color: white;
        flex-direction: column;
    }
    .SocialMediaLogos {
        position: relative;
        width: 86.7vw;
        height: 10.94vw;
        background-color: #D9D9D9;
    }
    .SocialMediaLogos {
        display: flex;
        align-items: center;
    }
    .LogoIMG {
        width: 8vw;
    }
    .DivCopyrightAndButton {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
    
    }
    .ContainerCopyrightText {
        margin: 5vw 0 0 0;
        align-items: flex-start;
    }
    .ContainerCopyrightText p{
        font-size: 4.27vw;
        margin: 0vw 0 4vw 0;
        display: flex;
        flex-direction: column;
    }
    .Copyright {
        order: -1;
        font-size: 5.33vw;
    }
    .LayoutMadeBy .virgula::after {
        content: "";
    }
    .ButtonTopo {
        position: absolute;
        bottom: 5vw;
        right: 0;
        width: 18.13vw;
        height: 8vw;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ButtonTopo a {
        color: white;
        font-size: 4.2227vw;
    }
}
