@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1920px;
    margin: auto;
}

#HeaderAndMenu {
    width: 100%;
    height: 6.4vw;
    display: flex;
}

.ContainerImgPorsche {
    width: 50%;
}

.ImgPorsche {
    width: 12.5vw;
    max-width: 240px;
    margin: 2vw 0 0 14vw;
    border: solid 0.1px grey;
}
.ContainerMenuHamburguer {
    display: none;
}

.NavBarHeader {
    width: 50%;
    display: flex;
    justify-content: center;
}
.UlNavBarHeader {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.LiNavBarHeader {
    transition: all 0.7s;
    font-size: 1.14vw;
}

.LiNavBarHeader a {
    color: black;
    font-weight: 900;
    transition: all 1s;
}

.LiNavBarHeader a:hover {
    color: black;
    font-size: 1.5vw;
    cursor: pointer;
}

.BackGroundImageBanner {
    width: 100%;
    height: 40.625vw;
    background-image: url("./assets/Imagens_em_webp/Banner1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.ContainerTituloBanner {
    width: 19.6875vw;
    max-width: 378px;
    height: 15.88vw;
    max-height: 305px;
    margin: 8vw 0 0 14vw;
    display: flex;
    flex-direction: column;
}

.TituloBanner {
    color: white;
    font-size: 3.34vw;
    font-weight: 700;
}

/* Main */

#SectionModelos {
    padding: 2.86vw 4.43vw 0 4.43vw;
}

.TituloModelos {
    font-size: 2.5vw;
    font-weight: 800;
}

.ContainerUmImagemTresCarros,
.ContainerDoisImagemTresCarros {
    display: flex;
}

.Container718,
.Container911,
.ContainerTaycan,
.ContainerPanamera,
.ContainerMacan,
.ContainerCayenne {
    position: relative;
    width: 29.5vw;
    max-width: 566px;
    height: 20.73vw;
    max-height: 398px;
    margin: 1.35vw 1.35vw 0 0;
}

.IMGCarro {
    width: 100%;
    max-width: 566px;
    height: 100%;
    margin: 1.35vw 1.35vw 0 0;
}

.CarName {
    font-size: 2.34vw;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 2.5vw;
    left: 1.5vw;
}

.ButtonConfigurarAndVerTudo {
    position: absolute;
    left: 1.45vw;
    bottom: 0;
    display: flex;
}

.ButtonConfigurar {
    width: 6.92vw;
    max-width: 133px;
    height: 2.6vw;
    max-height: 50px;
    background-color: white;
    border: none;
    font-size: 0.8vw;
    font-weight: 400;
    margin: 0 1.35vw 0 0;
    transition: all 1s;
    letter-spacing: 0.3px;
}

.ButtonConfigurar:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.ButtonConfigurar img {
    width: 0.7vw;
    max-width: 10px;
}

.ButtonVerTudo {
    width: 6.19vw;
    max-width: 119px;
    height: 2.60vw;
    max-height: 50px;
    color: white;
    font-size: 0.7vw;
    font-weight: 700;
    background-color: rgb(0, 0, 0, 0);
    border:solid 0.2px rgb(255, 255, 255, 1);
    transition: all 1s;
    letter-spacing: 0.3px;
}

.ButtonVerTudo:hover {
    color: red;
    border:solid 0.2px rgb(255, 0, 0);
    cursor: pointer;
}

#ContainerGaleria {
    margin: 3vw 10.23vw 6.4vw 10.23vw;
}

.SectionImagensGaleria {
    width: 80vw;
    max-width: 1527px;
    height: 41.041666666667vw;
    max-height: 788px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.SectionImagensGaleria:hover :not(:hover) {
    opacity: 0.7;
}

.CarroDaGaleria {
    transition: all 1s;
}

.CarroDaGaleria:hover {
    transform: scale(1.05);
}

.TituloGaleria {
    font-size: 2.08vw;
    font-weight: 800;
}

.SectionImagensGaleria div img {
    width: 100%;
    height: 100%;
    padding: 0.2vw;
}

.colorBlue {
    grid-area: 1 / 1 / 3 / 3;
}

.colorGreen {
    grid-area: 3 / 1 / 4 / 2;
}

.colorYellow {
    grid-area: 3 / 2 / 4 / 3;
}

.colorMagenta {
    grid-area: 2 / 3 / 4 / 5;
}

.colorRed {
    grid-area: 1 / 3 / 2 / 4;
}

.colorGray {
    grid-area: 1 / 4 / 2 / 5;
}

.colorBrown {
    grid-area: 1 / 5 / 3 / 7;
}

.colorAqua {
    grid-area: 3 / 5 / 4 / 6;
}

.colorCornflowerblue {
    grid-area: 3 / 6 / 4 / 7;
}

/* Footer */

#SectionFooter {
    width: 100%;
    height: 6.5625vw;
    max-height: 126px;
    background-color: #F6F6F6F6;
    display: flex;
}

.SocialMediaLogos {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LogoIMG {
    width: 2vw;
    max-width: 35px;
}

.DivCopyrightAndButton {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerCopyrightText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LayoutMadeBy {
    color: black;
    font-size: 0.74vw;
}

.LayoutMadeBy a{
    color: rgb(19, 137, 255);
}

.LayoutMadeBy a:hover{
    font-weight: 700;
}

.Copyright {
    font-size: 0.94vw;
    font-weight: 700;
}
.ButtonTopo {
    display: none;
}

@media (min-width: 200px) and (max-width: 600px) {
    body {
        max-height: fit-content;
    }
    #HeaderAndMenu {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 2;
    }
    .ContainerImgPorsche {
        width: 100%;
        /* background-image: url("./assets/Imagens_em_webp/porsche-logo.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; */
        display: flex;
        justify-content: center;
    }
    .ImgPorsche {
        height: 100%;
        margin: 0;
        border: none;
    }
    .NavBarHeader {
        display: none;
    }
    .ContainerMenuHamburguer {
        position: absolute;
        right: 0;
        width: 29.6vw;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        column-gap: 10vw;
    }
    .ContainerMenuHamburguer label {
        position: relative;
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    #checkboxMenu {
    position: absolute;
    opacity: 0;
    }
    .line1,
    .line2,
    .line3 {
        height: 2px;
        width: 4vw;
        background-color: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }
    .BackGroundImageBanner {
        height: 127.67vw;
        background-size: cover;
        background-position: -92vw top;
    }
    .ContainerTituloBanner {
        margin: 3.13vw 0 0 3.74vw;
    }
    .TituloBanner {
        font-size: 5.87vw;
    }
    #SectionModelos {
        padding: 10.2vw 6.67vw 0 6.67vw;
    }
    .TituloModelos {
        font-size: 9.6vw;
        text-align: center;
    }
    .ContainerUmImagemTresCarros,
    .ContainerDoisImagemTresCarros {
        display: flex;
        flex-direction: column;
        row-gap: 8.53vw;
        align-items: center;
        margin: 0 0 8.53vw 0;
    }
    .Container718,
    .Container911,
    .ContainerTaycan,
    .ContainerPanamera,
    .ContainerMacan,
    .ContainerCayenne {
        width: 86.7vw;
        height: 70vw;
    }
    .IMGCarro {
        margin: 0;
    }
    .CarName {
        font-size: 7.47vw;
        top: 5vw;
        left: 5vw;
    }
    .ButtonConfigurarAndVerTudo {
        left: 5.87vw;
        bottom: 2.66vw;
        column-gap: 5vw;
        width: 85%;
        justify-content: space-evenly;
    }
    .ButtonConfigurar,
    .ButtonVerTudo {
        width: 35.47vw;
        height: 12.33vw;
        font-size: 3.5vw;
        font-weight: 400;
    }
    .ButtonConfigurar img  {
        width: 3vw;
    }
    #ContainerGaleria{
        margin: 10.9vw 6.67vw 10vw 6.67vw;
        height: 790vw;
    }
    .SectionImagensGaleria {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5.87vw;
    }
    .TituloGaleria {
        font-size: 9.6vw;
        text-align: center;
    }
    .SectionImagensGaleria div img {
        padding: 0;
    }
    #SectionFooter {
        height: fit-content;   
        padding: 0 6.67vw 0 6.67vw;
        background-color: white;
        flex-direction: column;
    }
    .SocialMediaLogos {
        position: relative;
        width: 86.7vw;
        height: 10.94vw;
        /* background-color: #D9D9D9; */
    }
    .SocialMediaLogos {
        display: flex;
        align-items: center;
    }
    .LogoIMG {
        width: 8vw;
    }
    .DivCopyrightAndButton {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;
    
    }
    .ContainerCopyrightText {
        margin: 5vw 0 0 0;
        align-items: flex-start;
    }
    .ContainerCopyrightText p{
        font-size: 4.27vw;
        margin: 0vw 0 4vw 0;
        display: flex;
        flex-direction: column;
    }
    .Copyright {
        order: -1;
        font-size: 5.33vw;
    }
    .LayoutMadeBy .virgula::after {
        content: "";
    }
    .ButtonTopo {
        position: absolute;
        bottom: 5vw;
        right: 0;
        width: 18.13vw;
        height: 8vw;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ButtonTopo a {
        color: white;
        font-size: 4.2227vw;
    }
}
